@using ynhnTransportManage
@model ynhnTransportManage.Models.WRReport11Model           
<script type="text/javascript">
    $(function () {
        $('#BeginDate').datetimepicker({ dateFormat: 'yy-mm-dd', timeFormat: 'hh:mm' });
        $('#EndDate').datetimepicker({ dateFormat: 'yy-mm-dd', timeFormat: 'hh:mm' });

        $("#Category").change(function () {
            var selvalue = $("#Category").val();
            var url = "@Url.Action("GetCatOfInvs","Report")";
            $("#Inventory>option").remove();
            $.getJSON(url,{category:selvalue}, function (data) {
                $.each(data, function (i, itemvalue) {
                    $("#Inventory").append($("<option></option>").val(itemvalue.Value).text(itemvalue.Text));
                });
            });
        });  
        $("#query").button();
        $("#export").button();
    });

             
	</script>
 @{
    RouteValueDictionary routeValues = new RouteValueDictionary();
    routeValues.Add("InvType",this.Model.InvType);
    routeValues.Add("CategoryType", this.Model.CategoryType);
    }
@using (Html.BeginForm("WRReport11", "WRReport",routeValues))
{
@Html.ValidationSummary(true, "参数错误。请更正错误并重试。")
<table style="width:100%;">
<tr>
<td>
    <h2 class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix" style="text-align:center">@ViewBag.Title</h2>
</td>
</tr>
    <tr>
        <td>
        
    <div class="ui-state-default ui-jqgrid-toppager">
        <table>
            <tr>
                <td>
                <div class="editor-label">
                @Html.LabelFor(m => m.DeptId)
            </div>
            </td>
                <td>
                <div class="editor-field">
                @Html.DropDownListFor(m => m.DeptId, @Helpers.GetDepts001(), new { @class = "wide2" })
                @Html.ValidationMessageFor(m => m.DeptId)
            </div>
                </td>
            
                <td>
                <div class="editor-label">
                @Html.LabelFor(m => m.Section)
            </div>
            </td>
                <td>
                <div class="editor-field">
                @Html.DropDownListFor(m => m.Section, @Helpers.GetSection(), new { @class = "wide2" })
                @Html.ValidationMessageFor(m => m.DeptId)
            </div>
                </td>
                
                <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.Category)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.DropDownListFor(m => m.Category, @Html.GetCategory001())
                @Html.ValidationMessageFor(m => m.Category)
            </div>
                </td>
            
                    <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.Inventory)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.DropDownListFor(m => m.Inventory, @Html.GetInventory001())
                @Html.ValidationMessageFor(m => m.Inventory)
            </div>
                </td>
                </tr>
                <tr>
                <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.BeginDate)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.TextBoxFor(m => m.BeginDate)
                @Html.ValidationMessageFor(m => m.BeginDate)
            </div>
                </td>
            
                <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.EndDate)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.TextBoxFor(m => m.EndDate)
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>
                </td>
            
                <td>
                <input id="query" type="submit" value="查询" /></td><td>
                @Html.ActionLink("导出EXCEL", "WRReport11ExportToExcel", "WRReport", null, new { id = "export" })
                </td>
            </tr>
        </table>
    </div>

    </td>
    </tr>
    <tr>
    <td valign="top">
	<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all">
    @{var grid = new WebGrid(source: Model.result,
        defaultSort: "Amount",
    canPage: true,
    canSort: true,
    rowsPerPage: 20);}
	@grid.GetHtml(
     mode: WebGridPagerModes.All,
    numericLinksCount: 50,
    firstText: "首页",
    previousText: "上页",
    nextText: "下页",
    lastText: "最后页",
        columns: grid.Columns(
        //grid.Column("CreateDate", "日期"),
                                grid.Column("DeptName", "店名"),
                                grid.Column("SectionName", "部门"),
                                        grid.Column("CategoryName", "系列名称"),
                                                    grid.Column("InventoryName", "单品名称"),
        //grid.Column("Cups", "销售杯数",format: (item) => string.Format("{0:f2}", item.Cups)),
                                    grid.Column("Amount", "销售金额", format: (item) => string.Format("{0:f2}", item.Amount)),
                                            grid.Column("AmountOfDayAvg", "日均销量", format: (item) => string.Format("{0:f2}", item.AmountOfDayAvg)),
        //grid.Column("CupsRatioOfCategory", "本类别杯数比例", format: (item) => string.Format("{0:P}", item.CupsRatioOfCategory)),
        // grid.Column("CupsRatioOfAll", "杯数总比例", format: (item) => string.Format("{0:P}", item.CupsRatioOfAll)),
                                                                    grid.Column("AmountRatioOfCategory", "本类别金额比例", format: (item) => string.Format("{0:P}", item.AmountRatioOfCategory)),
                                                    grid.Column("AmountRatioOfAll", "金额总比例", format: (item) => string.Format("{0:P}", item.AmountRatioOfAll))
        ),
            tableStyle: "ui-jqgrid-view ui-jqgrid-bdiv ui-jqgrid-btable",
                                rowStyle: "ui-widget-content jqgrow ui-row-ltr",
                                    alternatingRowStyle: "ui-widget-content jqgrow ui-row-ltr",
                            headerStyle: "ui-state-default ui-jqgrid-hdiv",
                                    footerStyle: "ui-state-default ui-jqgrid-pager ui-corner-bottom ui-pager-control ui-pg-table"
    )
	</div>
<div  class="ui-state-default ui-jqgrid-pager ui-corner-bottom">
        <table>
            <tr>
                <td colspan="6" style="text-align:center;">
                汇总信息
                </td>
            </tr>
            <tr>
           
                <td>
                <div class="editor-label">
                @Html.LabelFor(m => m.Amount)
            </div>
                </td>
                <td>
                <div class="editor-field">
                @Html.TextBoxFor(m => m.Amount)
                @Html.ValidationMessageFor(m => m.Amount)
            </div>
                </td>
                <td>
                <div class="editor-label">
                @Html.LabelFor(m => m.AmountOfDayAvg)
            </div>
                </td>
                <td>
                <div class="editor-field">
                @Html.TextBoxFor(m => m.AmountOfDayAvg)
                @Html.ValidationMessageFor(m => m.AmountOfDayAvg)
            </div>
                </td>                                                    
            </tr>
        </table>
    </div>
</td>
    </tr>
</table>
}
