@using ynhnTransportManage
@model ynhnTransportManage.Models.WRReport12Model           
<script type="text/javascript">
    $(function () {
        $('#BeginDate').datetimepicker({ dateFormat: 'yy-mm-dd', timeFormat: 'hh:mm' });
        $('#EndDate').datetimepicker({ dateFormat: 'yy-mm-dd', timeFormat: 'hh:mm' });
        $("#query").button();
        $("#export").button();
        $("#modify").button();
        $("#delete").button();
    });
    function pcommit() {

        return confirm("长款金额：" + $("#curResult_More").val() + "\n短款金额" + $("#curResult_Less").val() + "\n情况说明" + $("#curResult_Comment").val());
    }
	</script>
 
@using (Html.BeginForm("WRReport12", "WRReport"))
{
@Html.ValidationSummary(true, "参数错误。请更正错误并重试。")
<table style="width:100%;">
<tr>
<td>
    <h2 class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix" style="text-align:center">@ViewBag.Title</h2>
</td>
</tr>
    <tr>
        <td>
        
    <div class="ui-state-default ui-jqgrid-toppager">
        <table>            
            <tr>
                <td>
                <div class="editor-label">
                @Html.LabelFor(m => m.DeptId)
            </div>
            </td>
                <td>
                <div class="editor-field">
                @Html.DropDownListFor(m => m.DeptId, @Helpers.GetDepts2(), new { @class = "wide2" })
                @Html.ValidationMessageFor(m => m.DeptId)
            </div>
                </td>
            
                <td>
                <div class="editor-label">
                @Html.LabelFor(m => m.UserId)
            </div>
            </td>
                <td>
                <div class="editor-field">
                @Html.DropDownListFor(m => m.UserId, @Helpers.GetUsers(), new { @class = "wide2" })
                @Html.ValidationMessageFor(m => m.UserId)
            </div>
                </td>
               
                <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.BeginDate)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.TextBoxFor(m => m.BeginDate, new { @class = "wide2" })
                @Html.ValidationMessageFor(m => m.BeginDate)
            </div>
                </td>    
               
                <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.EndDate)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.TextBoxFor(m => m.EndDate, new { @class = "wide2" })
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>
                </td>    
                 
                <td>
                <input id="query" type="submit" name="button" value="查询" />
                </td>
            </tr>
        </table>
    </div>
    </td>
    </tr>
    <tr>
    <td>
    @{if (Model.result != null)
      {
          var grid = new WebGrid(source: Model.result,
              defaultSort: "Amount",
          canPage: true,
          canSort: true,
          rowsPerPage: 20);

	<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all">
	@grid.GetHtml(        
                  mode: WebGridPagerModes.All,
          numericLinksCount: 50,
          firstText: "首页",
          previousText: "上页",
          nextText: "下页",
          lastText: "最后页", 
        columns: grid.Columns(
                grid.Column(format: (item) => item.GetSelectLink("编辑")),
                    grid.Column("DifDate", "日期", format: (item) => string.Format("{0:yyyy-MM-dd}", item.DifDate)),

                                grid.Column("DeptName", "店名"),
                                grid.Column("FullName", "收银员"),
                                    grid.Column("Amount", "应收款", format: (item) => string.Format("{0:f2}", item.Amount)),
                                                    grid.Column("More", "长款金额", format: (item) => string.Format("{0:f2}", item.More)),
                                                                    grid.Column("Less", "短款金额", format: (item) => string.Format("{0:f2}", item.Less)),
                                                        grid.Column("Comment", "情况说明")
        ),
                  tableStyle: "ui-jqgrid-view ui-jqgrid-bdiv ui-jqgrid-btable",
                                      rowStyle: "ui-widget-content jqgrow ui-row-ltr",
                                          alternatingRowStyle: "ui-widget-content jqgrow ui-row-ltr",
                                  headerStyle: "ui-state-default ui-jqgrid-hdiv",
                                          footerStyle: "ui-state-default ui-jqgrid-pager ui-corner-bottom ui-pager-control ui-pg-table"
    )
	</div>
    
          if (grid.HasSelection)
          {
              Model.curResult = grid.SelectedRow.Value;
        <div  class="ui-state-default ui-jqgrid-pager ui-corner-bottom">
        <table>
            <tr>
                <td colspan="10" align="center"><legend>长短款设置</legend>
                @Html.HiddenFor(m => m.curResult.DeptId)
                @Html.HiddenFor(m => m.curResult.UserId)
                @Html.HiddenFor(m => m.curResult.IsIn)
                @Html.HiddenFor(m => m.curResult.Id)
                </td>
            </tr>
            <tr>     
            <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.curResult.DifDate)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.TextBox("curResult.DifDate", Model.curResult.DifDate.ToString("yyyy-MM-dd"), new Dictionary<string, object>() { { "readonly", "readonly" }, { "class", "wide2" } })
                @Html.ValidationMessageFor(m => m.curResult.DifDate)
            </div>
                </td>  

            <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.curResult.DeptName)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.TextBoxFor(m => m.curResult.DeptName, new Dictionary<string, object>() { { "readonly", "readonly" }, { "class", "wide2" } })
                @Html.ValidationMessageFor(m => m.curResult.DeptName)
            </div>
                </td>    
                 
            <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.curResult.FullName)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.TextBoxFor(m => m.curResult.FullName, new Dictionary<string, object>() { { "readonly", "readonly" }, { "class", "wide2" } })
                @Html.ValidationMessageFor(m => m.curResult.FullName)
            </div>
                </td>    
                         
                <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.curResult.Amount)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.TextBoxFor(m => m.curResult.Amount, new Dictionary<string, object>() { { "readonly", "readonly" }, { "class", "wide2" } })
                @Html.ValidationMessageFor(m => m.curResult.Amount)
            </div>
                </td>    
    </tr>
    <tr>
                <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.curResult.More)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.TextBoxFor(m => m.curResult.More, new { @class = "wide2" })
                @Html.ValidationMessageFor(m => m.curResult.More)
            </div>
                </td>    
                <td>
                    <div class="editor-label">
                @Html.LabelFor(m => m.curResult.Less)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.TextBoxFor(m => m.curResult.Less, new { @class = "wide2" })
                @Html.ValidationMessageFor(m => m.curResult.Less)
            </div>
                </td>    
        <td >
                    <div class="editor-label">
                @Html.LabelFor(m => m.curResult.Comment)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                @Html.TextBoxFor(m => m.curResult.Comment, new { @class = "wide2" })
                @Html.ValidationMessageFor(m => m.curResult.Comment)
            </div>
                </td>               
                <td colspan="2">
                    <p>
                        <input id="modify" type="submit" name="button" value="修改" onclick="return pcommit();" />
                        <input id="delete" type="submit" name="button" value="删除" onclick="return pcommit();" />
                    </p>
                </td>
            </tr>
        </table>
        </div>
          }
      }
}
</td>
    </tr>
</table>
}
    