@model DXInfo.Web.Models.ChangePasswordModel

@{
    ViewBag.Title = "更改密码";
}
<script type="text/javascript">
    $(function () {
        $("#btnChangePassword").button();
        InitCtrl();
    });
    function ChangePassword() {
        submitToDiv("LoginPwd");
    }
</script>
<h2 class="ui-widget-header h2-center">@ViewBag.Title</h2>
<div class="ui-state-highlight">
<p>
    请使用以下表单更改密码。 
</p>
<p>
    新密码应至少包含 @ViewBag.PasswordLength 个字符。
</p>
</div>
@using (Html.BeginForm("LoginPwd", "Account", FormMethod.Post, new { id = "LoginPwd" }))
{
    @Html.ValidationSummary(true, "密码更改不成功。请更正错误并重试。", new { @class = "ui-state-error" })
<fieldset class="ui-widget ui-widget-content ui-corner-all">
            <legend class="ui-widget-header ui-corner-all">帐户信息</legend>
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.OldPassword)</td><td>
                        @Html.PasswordFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.NewPassword)</td><td>
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ConfirmPassword)</td><td>
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" id="btnChangePassword" value="更改密码" onclick="ChangePassword();"/></td>
                </tr>
            </table>            
        </fieldset>

}