@using Trirand.Web.Mvc
@using ynhnTransportManage
@model ynhnTransportManage.Models.StockManage.AdjustLocatorVouchModel
<style>
	#toolbar {
		padding: 10px 4px;
	}
	</style>
<script src="@Url.Content("~/Scripts/chosen/chosen.jquery.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/chosen/chosen.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.dateFormat-1.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RdRecord/resetForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RdRecord/resetValidation.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RdRecord/setButton.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RdRecord/setButtonState.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/RdRecord/resetGrid.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/RdRecord/initForm.js")" type="text/javascript"></script>*@
<script type="text/javascript">
    $(function () {
        prefix = "#adjustLocatorVouch_";
        mainId = "ALVId";
        gridId = "#AdjustLocatorVouchsGrid";
        gridId2 = "AdjustLocatorVouchsGrid";
        formId = "#AdjustLocatorVouchForm";
        initForm();
        resetGrid();
        DisabledDiv();
        setButton();
        setButtonState("0");
        invId = "#InvId";
    });

</script>
<div id="addurl" data-url="@Url.Action("GetAdjustLocatorVouch", "StockManage")"></div>
<div id="saveaddurl" data-url="@Url.Action("AddAdjustLocatorVouch", "StockManage")"></div>
<div id="savemodifyurl" data-url="@Url.Action("ModifyAdjustLocatorVouch", "StockManage")"></div>
<div id="verifyurl" data-url="@Url.Action("VerifyAdjustLocatorVouch", "StockManage")"></div>
<div id="unverifyurl" data-url="@Url.Action("UnVerifyAdjustLocatorVouch", "StockManage")"></div>
<div id="deleteurl" data-url="@Url.Action("DeleteAdjustLocatorVouch", "StockManage")"></div>
<div id="cururl" data-url="@Url.Action("CurAdjustLocatorVouch", "StockManage")"></div>
<div id="starturl" data-url="@Url.Action("StartAdjustLocatorVouch", "StockManage")"></div>
<div id="prevurl" data-url="@Url.Action("PrevAdjustLocatorVouch", "StockManage")"></div>
<div id="nexturl" data-url="@Url.Action("NextAdjustLocatorVouch", "StockManage")"></div>
<div id="endurl" data-url="@Url.Action("EndAdjustLocatorVouch", "StockManage")"></div>
<div id="getExtRate" data-url="@Url.Action("GetExtRate", "StockManage")"></div>
<div id="getLocatorByWh" data-url="@Url.Action("GetLocatorByWh", "StockManage")"></div>
<div id="getInvInfo" data-url="@Url.Action("GetInvInfo", "StockManage")"></div>
<div id="getUnitJsonByInv" data-url="@Url.Action("GetUnitJsonByInv", "StockManage")"></div>
<div id="printurl" data-url="../../Print/PurchaseInStock.aspx"></div>
<div id="searchurl" data-url="@Url.Action("SearchAdjustLocatorVouch", "StockManage")"></div>
<div id="getBatchUrl" data-url="@Url.Action("GetBatch", "StockManage")"></div>
<div id="getLocatorByWhBatchUrl" data-url="@Url.Action("getLocatorByWhBatch", "StockManage")"></div>
<div id="getAvaNumUrl" data-url="@Url.Action("getAvaNum", "StockManage")"></div>
<div id="GetInvByWh" data-url="@Url.Action("GetInvByWh", "StockManage")"></div>
<div style="margin:0px auto;width:1024px;height:600px;background-color:#dfeffc;padding:30px;">

            @Html.Partial("_ToolbarPartial");            
            <h1  style="text-align:center">@ViewBag.Title</h1>
            <div id="divForm">
            @using (Html.BeginForm("AdjustLocatorVouch", "StockManage", FormMethod.Post, new { id = "AdjustLocatorVouchForm", name = "AdjustLocatorVouchForm" }))
            {
                
                @Html.ValidationSummary()
                <table>
                <tr>
                    <td>@Html.LabelFor(m => m.adjustLocatorVouch.Code)</td><td>@Html.TextBoxFor(m => m.adjustLocatorVouch.Code)@Html.ValidationMessageFor(m => m.adjustLocatorVouch.Code, "*")</td>
                    <td>@Html.LabelFor(m => m.adjustLocatorVouch.ALVDate)</td><td>@Html.TextBoxFor(m => m.adjustLocatorVouch.ALVDate)@Html.ValidationMessageFor(m => m.adjustLocatorVouch.ALVDate, "*")</td>                    
                    <td>@Html.LabelFor(m => m.adjustLocatorVouch.WhId)</td><td>@Html.DropDownListFor(m => m.adjustLocatorVouch.WhId, @Helpers.GetWhsByOperDept())@Html.ValidationMessageFor(m => m.adjustLocatorVouch.WhId, "*")</td>                                                           
                    <td>@Html.LabelFor(m => m.adjustLocatorVouch.Salesman)</td><td>@Html.DropDownListFor(m => m.adjustLocatorVouch.Salesman, @Helpers.GetUsers())@Html.ValidationMessageFor(m => m.adjustLocatorVouch.Salesman, "*")</td>   
                 </tr>
                <tr> 
                    <td>@Html.LabelFor(m => m.adjustLocatorVouch.VerifyDate)</td><td>@Html.TextBoxFor(m => m.adjustLocatorVouch.VerifyDate)@Html.ValidationMessageFor(m => m.adjustLocatorVouch.VerifyDate, "*")</td>                  
                 
                    <td>@Html.LabelFor(m => m.adjustLocatorVouch.Memo)</td><td>@Html.TextBoxFor(m => m.adjustLocatorVouch.Memo)
                    @Html.HiddenFor(m => m.adjustLocatorVouch.IsVerify)
                    @Html.HiddenFor(m => m.adjustLocatorVouch.IsModify)
                    @Html.HiddenFor(m => m.adjustLocatorVouch.Id)
                    @Html.HiddenFor(m => m.adjustLocatorVouch.MakeTime)
                    @Html.HiddenFor(m => m.vouchType.Code)
                    @Html.HiddenFor(m => m.IsShelfLife)
                    @Html.HiddenFor(m => m.IsBatch)
                    @Html.HiddenFor(m => m.IsLocator)
                    </td>
                    <td></td><td></td>
                </tr>
            </table>
            }
            </div>
            <div id="divGrid">
            @Html.Trirand().JQGrid(Model.adjustLocatorVouchs.AdjustLocatorVouchsGrid, "AdjustLocatorVouchsGrid")
            </div>
            <script src="@Url.Content("~/Scripts/RdRecord/afterGrid.js")" type="text/javascript"></script>
</div>