@using Trirand.Web.Mvc
@using ynhnTransportManage
@model ynhnTransportManage.Models.StockManage.RdRecordModel
@Html.Partial("_RdRecordPartial");
<div style="margin:0px auto;width:1024px;height:600px;background-color:#dfeffc;padding:30px;">
            @Html.Partial("_ToolbarPartial");            
            <h1  style="text-align:center">@ViewBag.Title</h1>
            <div id="divForm">
            @using (Html.BeginForm("PurchaseInStock", "StockManage", FormMethod.Post, new { id = "rdRecordForm", name = "rdRecordForm" }))
            {
                
                @Html.ValidationSummary()
                <table>
                <tr>
                    <td>@Html.LabelFor(m => m.rdRecord.Code)</td><td>@Html.TextBoxFor(m => m.rdRecord.Code)@Html.ValidationMessageFor(m => m.rdRecord.Code, "*")</td>
                    <td>@Html.LabelFor(m => m.rdRecord.RdDate)</td><td>@Html.TextBoxFor(m => m.rdRecord.RdDate)@Html.ValidationMessageFor(m => m.rdRecord.RdDate, "*")</td>
                    <td>@Html.LabelFor(m => m.rdRecord.WhId)</td><td>@Html.DropDownListFor(m => m.rdRecord.WhId, @Helpers.GetWhsByOperDept())@Html.ValidationMessageFor(m => m.rdRecord.WhId, "*")</td>                     
                    <td>@Html.LabelFor(m => m.rdRecord.VerifyDate)</td><td>@Html.TextBoxFor(m => m.rdRecord.VerifyDate)@Html.ValidationMessageFor(m => m.rdRecord.VerifyDate, "*")</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.rdRecord.Memo)</td><td>@Html.TextBoxFor(m => m.rdRecord.Memo)</td>
                    <td>
                    @Html.HiddenFor(m => m.rdRecord.IsVerify)
                    @Html.HiddenFor(m => m.rdRecord.IsModify)
                    @Html.HiddenFor(m => m.rdRecord.Id)
                    @Html.HiddenFor(m => m.rdRecord.MakeTime)
                    @Html.HiddenFor(m => m.vouchType.Code)
                   @* @Html.HiddenFor(m => m.rdRecord.BusType)*@
                    <input type="hidden" name="rdRecord.BusType" value="012" />
                    </td>
                    <td></td><td></td>
                    <td></td><td></td>
                </tr>
            </table>
            }
            </div>
            <div id="divGrid">
            @Html.Trirand().JQGrid(Model.rdRecordsGridModel.RdRecordsGrid, "RdRecordsGrid")
            </div>
            <script src="@Url.Content("~/Scripts/RdRecord/afterGrid.js")" type="text/javascript"></script>
</div>