@using DXInfo.Web.Models
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Html.DataCenterTitle()@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/logonCss")
       
    @*<link href="@Url.Content("~/Content/SiteLogon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/" + @Html.LogonCss())" rel="stylesheet" type="text/css" />*@
    <script type="text/javascript">
        var urls = {IsHaveCardNoUrl:"@Url.Action("IsHaveCardNo", "Card")",
                          LogOffUrl:"@Url.Action("LogOff", "Account")",
                          IsAMSApp:"@Html.IsAMSApp()",
                          IsNoActiveXCheck:"@Html.IsNoActiveXCheck()",
                          IsNoActiveXCheckUrl:"@Url.Action("IsNoActiveXCheck", "Account")"};
    </script> 
</head>
<body>
@if (!Html.bAMSApp())
{
    <OBJECT ID="kk" WIDTH=0 HEIGHT=0 style="display:none"
	 CLASSID="CLSID:01A8EC23-6702-476C-AF5F-E934C71D0FE6" codebase="@Url.Content("~/Content/DXInfoCardActiveX.CAB")#version=1,0,0,3">
    </object>
}
    @RenderBody()
</body>
</html>
