@using DXInfo.Web.Models
@model DXInfo.Web.Models.VouchsGridModel
@{
    Layout = "~/Views/Shared/_StockManageBase.cshtml";
}
<fieldset class="ui-widget ui-widget-content ui-corner-all">
    <legend class="ui-widget-header ui-corner-all"></legend>
    <table>
        <tr>
            <td>
                <label for="Code">
                    出库单号</label>
            </td>
            <td>@Html.TextBoxFor(m => m.Code)@Html.MyValidationMessageFor(m => m.Code)
            </td>
            <td>
                <label for="RdDate">
                    出库日期</label>
            </td>
            <td>@Html.TextBoxFor(m => m.RdDate)@Html.MyValidationMessageFor(m => m.RdDate)
            </td>
            <td>@Html.LabelFor(m => m.WhId)
            </td>
            <td>@Html.DropDownListFor(m => m.WhId, @Html.GetWarehouse())@Html.MyValidationMessageFor(m => m.WhId)
            </td>
            <td>
                <label for="BusType">
                    出库类别</label>
            </td>
            <td>@Html.DropDownListFor(m => m.BusType, @Html.GetBusType("004"))@Html.MyValidationMessageFor(m => m.BusType)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.VerifyDate)
            </td>
            <td>@Html.TextBoxFor(m => m.VerifyDate)@Html.MyValidationMessageFor(m => m.VerifyDate)
            </td>
            <td>@Html.LabelFor(m => m.Memo)
            </td>
            <td colspan="5">@Html.TextBoxFor(m => m.Memo, new { style = "width:100%" })
            </td>
        </tr>
    </table>
</fieldset>
