@using DXInfo.Web.Models
@using Trirand.Web.Mvc
@model DXInfo.Web.Models.WRReport3GridModel           
<script type="text/javascript">
    $(function () {
        $("#query").button();
        $("#query").button().click(function () {
            $("#WRReportGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger("reloadGrid", [{ page: 1}]);
        });
        $("#export").button();
        $("#export").button().click(function () {
            excelExport();
        });
        var myDate = new Date();
        $('#BeginDate').datetimepicker();
        $('#EndDate').datetimepicker();
        var beginDateStr = myDate.getFullYear() + "-" + (myDate.getMonth() + 1) + "-" + myDate.getDate() + " 00:00";
        var endDateStr = myDate.getFullYear() + "-" + (myDate.getMonth() + 1) + "-" + myDate.getDate() + " 23:59";
        $("#BeginDate").datetimepicker("setDate", beginDateStr);
        $("#EndDate").datetimepicker("setDate", endDateStr);
        var ctrls = [{ name: "LocalDeptId", type: "select" },
                     { name: "DeptId", type: "select" },
                     { name: "UserId", type: "select" },
                     { name: "RechargeType", type: "select" },
                     { name: "PayType", type: "select" },
                     { name: "CardNo", type: "text" },
                     { name: "MemberName", type: "text" },
                     { name: "BeginDate", type: "text" },
                     { name: "EndDate", type: "text" }, ];
        InitCtrl(ctrls);
    });
    function serializeGridData(postData) {
        var filtersStr = '{"groupOp":"AND","rules":[';
        var filtersStr1 = "";
        if ($("#LocalDeptId").val()) {
            filtersStr1 += '{"field":"LocalDeptId","op":"eq","data":"' + $("#LocalDeptId").val() + '"},'
        }
        if ($("#DeptId").val()) {
            filtersStr1 += '{"field":"DeptId","op":"eq","data":"' + $("#DeptId").val() + '"},'
        }
        if ($("#UserId").val()) {
            filtersStr1 += '{"field":"UserId","op":"eq","data":"' + $("#UserId").val() + '"},'
        }
        if ($("#RechargeType").val()) {
            filtersStr1 += '{"field":"RechargeType","op":"eq","data":"' + $("#RechargeType").val() + '"},'
        }
        if ($("#PayType").val()) {
            filtersStr1 += '{"field":"PayType","op":"eq","data":"' + $("#PayType").val() + '"},'
        }
        if ($("#CardNo").val()) {
            filtersStr1 += '{"field":"CardNo","op":"cn","data":"' + $("#CardNo").val() + '"},'
        }
        if ($("#MemberName").val()) {
            filtersStr1 += '{"field":"MemberName","op":"cn","data":"' + $("#MemberName").val() + '"},'
        }
        if ($("#BeginDate").val()) {
            filtersStr1 += '{"field":"CreateDate","op":"ge","data":"' + $("#BeginDate").val() + '"},'
        }
        if ($("#EndDate").val()) {
            filtersStr1 += '{"field":"CreateDate","op":"le","data":"' + $("#EndDate").val() + '"},'
        }
        if (filtersStr1 == "") {
            filtersStr = "";
        }
        else {
            filtersStr += filtersStr1;
            filtersStr += '{}]}';
        }
        var sdata = {
            _search: "true",
            filters: filtersStr
        };
        var newPostData = $.extend(postData, sdata);
        return newPostData;
    }
	</script>
   <h2 class="ui-widget-header h2-center">@ViewBag.Title</h2>

<fieldset class="ui-widget ui-widget-content ui-corner-all">
<legend class="ui-widget-header ui-corner-all"></legend>
<table>
    <tr>        
        <td><label for="LocalDeptId">发卡门店：</label></td><td>@Html.DropDownList("LocalDeptId", @Html.GetDept())</td>
        <td><label for="DeptId">门店：</label></td><td>@Html.DropDownList("DeptId", @Html.GetDept())</td>
        <td><label for="UserId">操作员：</label></td><td>@Html.DropDownList("UserId", @Html.GetOper())</td>
        <td><label for="RechargeType">充值类型：</label></td><td>@Html.DropDownList("RechargeType", @Html.GetRechargeType())</td>                                       
    </tr>
    <tr>
        <td><label for="PayType">支付方式：</label></td><td>@Html.DropDownList("PayType", @Html.GetPayType())</td>
        <td><label for="CardNo">卡号：</label></td><td><input id="CardNo" type="text"/></td>
        <td><label for="MemberName">会员名：</label></td><td><input id="MemberName" type="text"/></td>        
        <td></td>
    </tr>
    <tr>
        <td><label for="BeginDate">开始日期：</label></td><td><input id="BeginDate" type="text"/></td>
        <td><label for="EndDate">结束日期：</label></td><td><input id="EndDate" type="text"/></td>
        <td colspan="4">
        <button id="query">查询</button>
        <button id="export">导出EXCEL</button></td>
    </tr>
</table>
</fieldset>
@Html.Trirand().JQGrid(Model.WRReportGrid, "WRReportGrid")
