@model DXInfo.Web.Models.WRReport13Model
@using DXInfo.Web.Models
@{
    var para = "deptId=" + Model.deptId + "&" + "userId=" + Model.userId+"&category="+Model.category
        + "&inventory=" + Model.inventory + "&beginDate=" + Model.beginDate + "&endDate=" + Model.endDate;
}
<script type="text/javascript">
    $(function () {

        $('#beginDate').datetimepicker();
        $('#endDate').datetimepicker();

        $("#category").change(function () {
            var selvalue = $("#category").val();
            var url = "@Url.Action("GetCatOfInvs","Report")";
            $("#inventory>option").remove();
            $.getJSON(url,{category:selvalue}, function (data) {
                $.each(data, function (i, itemvalue) {
                    $("#inventory").append($("<option></option>").val(itemvalue.Value).text(itemvalue.Text));
                });
            });
        });  
        $("#query").button();
        $("#query").button().click(function () {
            submitToDiv("Report");
        });
        var ctrls = [{ name: "deptId", type: "select" },
                     { name: "userId", type: "select" }, 
                     { name: "category", type: "select" },
                     { name: "inventory", type: "select" }, 
                     { name: "BeginDate", type: "date" },
                     { name: "EndDate", type: "date" }, ];
        InitCtrl(ctrls);
    });

             
	</script>
<h2 class="ui-widget-header h2-center">@ViewBag.Title</h2>

@using (Html.BeginForm("WRReport13", "Report", FormMethod.Post, new { id = "Report" })) 
{    
    @Html.ValidationSummary(true, "请更正错误并重试。", new { @class = "ui-state-error" })
<fieldset class="ui-widget ui-widget-content ui-corner-all">
<legend class="ui-widget-header ui-corner-all"></legend>
    <table>        
        <tr>
        <td>
                @Html.LabelFor(m => m.deptId)
            </td>
        <td>
            @Html.DropDownListFor(m => m.deptId, @Html.GetDept())
            @Html.ValidationMessageFor(m => m.deptId)
        </td>

        <td>
                @Html.LabelFor(m => m.userId)
            </td>
        <td>
            @Html.DropDownListFor(m => m.userId, @Html.GetOper())
            @Html.ValidationMessageFor(m => m.userId)
        </td>
            
        <td>
            @Html.LabelFor(m => m.category)
            </td>
        <td>
            @Html.DropDownListFor(m => m.category, @Html.GetCategory())
            @Html.ValidationMessageFor(m => m.category)
            </td>
                
        <td>
        @Html.LabelFor(m => m.inventory)
        </td>
        <td>
        @Html.DropDownListFor(m => m.inventory, @Html.GetInventory())
        @Html.ValidationMessageFor(m => m.inventory)
        </td>
               
    </tr><tr>
                <td>
                @Html.LabelFor(m => m.beginDate)
                </td>
                <td>
                @Html.TextBoxFor(m => m.beginDate)
                @Html.ValidationMessageFor(m => m.beginDate)
                </td>
            
                <td>
                @Html.LabelFor(m => m.endDate)
                </td>
                <td>
                @Html.TextBoxFor(m => m.endDate)
                @Html.ValidationMessageFor(m => m.endDate)
                </td>
            
        <td colspan="4">
                <input id="query" type="submit" value="查询" />
            </td>
            </tr>
        
    </table>
</fieldset>    
}
<img alt="" src="/Report/MyChart13?@para" />
