@using DXInfo.Web.Models
@model DXInfo.Web.Models.WRReport16Model
<script type="text/javascript">
    $(function () {
        $('#BeginDate').datetimepicker();
        $('#EndDate').datetimepicker();
        $("#query").button();
        $("#export").button();
        $("#query").button().click(function () {
            submitToDiv("Report");
        });
        $("th>a,td>a[id!='export']").click(function () { addToDiv(this); return false; });
        var ctrls = [{ name: "DeptId", type: "select" },
                     { name: "UserId", type: "select" },
                     { name: "OrderDishStatus", type: "select" },
                     { name: "OrderMenuStatus", type: "select" },
                     { name: "DeskNo", type: "text" },
                     { name: "BeginDate", type: "date" },
                     { name: "EndDate", type: "date" }, ];
        InitCtrl(ctrls);
    });
</script>
<h2 class="ui-widget-header h2-center">@ViewBag.Title</h2>
@using (Html.BeginForm("WRReport16", "Report", FormMethod.Post, new { id = "Report" }))
{
    @Html.ValidationSummary(true, "参数错误。请更正错误并重试。", new { @class = "ui-state-error" })
<fieldset class="ui-widget ui-widget-content ui-corner-all">
<legend class="ui-widget-header ui-corner-all"></legend>
<table>
    <tr>
        <td>
                @Html.LabelFor(m => m.DeptId)
        </td>
        <td>
                @Html.DropDownListFor(m => m.DeptId, @Html.GetDept())
                @Html.ValidationMessageFor(m => m.DeptId)
        </td>                           
        <td>
                @Html.LabelFor(m => m.UserId)
        </td>
        <td>
                @Html.DropDownListFor(m => m.UserId, @Html.GetOper())
                @Html.ValidationMessageFor(m => m.UserId)
        </td>
        <td>
                @Html.LabelFor(m => m.OrderDishStatus)
        </td>
        <td>
                @Html.DropDownListFor(m => m.OrderDishStatus, @Html.GetOrderDishStatus())
                @Html.ValidationMessageFor(m => m.OrderDishStatus)
        </td>
        <td>
                @Html.LabelFor(m => m.OrderMenuStatus)
        </td>
        <td>
                @Html.DropDownListFor(m => m.OrderMenuStatus, @Html.GetOrderMenuStatus())
                @Html.ValidationMessageFor(m => m.OrderMenuStatus)
        </td>
    </tr>
    <tr>
        <td>
                @Html.LabelFor(m => m.DeskNo)
        </td>
        <td>
                @Html.TextBoxFor(m => m.DeskNo)
                @Html.ValidationMessageFor(m => m.DeskNo)
        </td>
        <td>
                @Html.LabelFor(m => m.BeginDate)
        </td>
        <td>
                @Html.TextBoxFor(m => m.BeginDate)
                @Html.ValidationMessageFor(m => m.BeginDate)
        </td>
        <td>
                @Html.LabelFor(m => m.EndDate)
        </td>
        <td>
                @Html.TextBoxFor(m => m.EndDate)
                @Html.ValidationMessageFor(m => m.EndDate)
        </td>
        <td>
            <input id="query" type="submit" value="查询" />
        </td>
        <td>
            @Html.ActionLink("导出EXCEL", "WRReport16ExportToExcel", "Report", null, new { id = "export" })
        </td>
    </tr>
</table>
</fieldset>

    var grid = new MyWebGrid();
    grid.Bind(Model.result2, rowCount: Model.rowCount, autoSortAndPage: false);
    var gridColumns = new List<WebGridColumn>();
    gridColumns.Add(grid.Column("DeptName", "门店"));
    gridColumns.Add(grid.Column("Quantity", "人数"));
    gridColumns.Add(grid.Column("OrderDishStatus", "订单状态"));
    gridColumns.Add(grid.Column("OrderDishFullName", "订单操作"));
    gridColumns.Add(grid.Column(columnName: "OrderDishCreateDate", header: "订单时间", format: (item) => string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.OrderDishCreateDate)));
    gridColumns.Add(grid.Column("DeskNo", "桌台"));
    gridColumns.Add(grid.Column("OrderDeskFullName", "桌台操作"));
    gridColumns.Add(grid.Column(columnName: "OrderDeskCreateDate", header: "桌台时间", format: (item) => string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.OrderDeskCreateDate)));
    gridColumns.Add(grid.Column("OrderMenuInvName", "菜品"));
    gridColumns.Add(grid.Column("OrderMenuStatus", "菜品状态"));
    gridColumns.Add(grid.Column("OrderMenuInvPrice", "单价", format: (item) => string.Format("{0:f2}", item.OrderMenuInvPrice)));
    gridColumns.Add(grid.Column("OrderMenuInvQuantity", "数量", format: (item) => string.Format("{0:f2}", item.OrderMenuInvQuantity)));
    gridColumns.Add(grid.Column("OrderMenuInvAmount", "合计", format: (item) => string.Format("{0:f2}", item.OrderMenuInvAmount)));
    gridColumns.Add(grid.Column("OrderMenuFullName", "菜品操作"));
    gridColumns.Add(grid.Column(columnName: "OrderMenuCreateDate", header: "菜品时间", format: (item) => string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.OrderMenuCreateDate)));

<fieldset class="ui-widget ui-widget-content ui-corner-all">
<legend class="ui-widget-header ui-corner-all"></legend>    
   @grid.GetHtml(gridColumns)
</fieldset>
}